#root {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color : #EAEBEE;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.py-6 {
  padding-top: 5rem !important;
}

#ProfilePage .rounded-avatar {
  margin-left: 35%;
  margin-top: -70px;
  width: 150px;
  height: 150px;
  margin-right: 15px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#ProfilePage .cover-photo {
  width: 100%;
  height: 200px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

#ProfilePage .info-user {

}

/* style Header.js - navbar*/

.logo_header {
  height: 40px;
  padding-right: 20px;
}

.btn-outline-success {
  color: #EF8650;
  background-color: transparent;
  background-image: none;
  border-color: #EF8650;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #EF8650;
  border-color: #EF8650;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: none !important;
}

.btn-outline-success:not([disabled]):not(.disabled):active, .btn-outline-success:not([disabled]):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #EF8650;
  border-color: #EF8650;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.w-65 {
  width: 65% !important;
}

/* style SidebarLeft.js - Dashboard left*/

.card-header {
  padding: 0 0;
}

.card-footer {
  background-color: #fff;
}

.card-header .cover-photo {
  width: 100%;
  height: 150px;
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer .rounded-avatar {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.Menu {
  margin-top: 7%;
}

.Menu > li {
  margin-bottom: 10px;
}

.MenuIcon {
  vertical-align: sub;
  height: 18px;
  width: 18px;
}

/* Users */

.table tbody > Link > tr > td {
  font-size: 0.875em;
  background: #f5f5f5;
  border-top: 10px solid #fff;
  vertical-align: middle;
  padding: 12px 8px;
}

.item-user .rounded-avatar {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.item-user {
  background-color: #fff;
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  margin-bottom: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.info-item-user {
  display: inline;
}

/* Statistics */

/*width: 450px;*/
.bar-main-container {
  margin: 10px auto;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
}

.statsblock {
  border: 3px solid #9999997d;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.align {
  display: flex;
  align-items: center;
}

.statdescri {
  text-align: center;
}

.statimg {
  height: 90px;
}

.wrap { padding: 8px; }

.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 50px;
  height: 35px;
  text-align: center;
}

.bar-container {
  float: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 80%;
  margin: 12px 0px;
  margin-left: 15px;

  overflow: hidden;
}

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.GameThumbnail {
  height: 100px;
  width: 150px;
}

.games-fav {
  margin: 10px auto;
}

/* Administration Account */

.AdminAccountItem > a > h3 {
  font-size: 1rem;
  margin: 0px;
}

.AdminAccountItem > a {
  padding: 10px;
  display: block;
}

.AdminAccountItem {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: rgb(245, 184, 154);
}

/* COLORS */
.azure   { background: #38B1CC; }
.emerald { background: #2CB299; }
.violet  { background: #8E5D9F; }
.yellow  { background: #EFC32F; }
.red     { background: #E44C41; }
.sportsfunOrange { background: #EF8650; }

/* COLORS */
.azure   { background: #38B1CC; }
.emerald { background: #2CB299; }
.violet  { background: #8E5D9F; }
.yellow  { background: #EFC32F; }
.red     { background: #E44C41; }

/* COACH */

.card-deck .card {
  margin-left: 4rem;
  margin-right: 4rem;
}

.pagecontainer {
  margin-left: 15%;
  height: 100%;
  overflow: auto;
}

.page-container {
  height: 100%;
}


/* AdminAccount */

#biography {
  resize : none;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #191818;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 15%;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

.wp-100 {
  width: 100px;
}

.hp-100 {
  height: 100px;
}